@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	background-color: #0f1626;
	color: #ffffff !important;
	font-family: 'Inconsolata', monospace !important;
	font-size: 13px !important;
}

table {
    width:80%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;	
	margin-top: 5%;
}

td {
	padding: 80px;
	text-align: center;
	border: 1px solid #a72e2e;
	height: 100%;
	overflow: hidden;
}

td a {
    display: block;
    margin: -10em;
    padding: 10em;
}

a, a:link {
	color: #ffffff !important;
	text-decoration: none !important;
}

a:hover {
	color: #ab987a !important;
	text-decoration: none !important;
}

li {
	list-style: none;
}

ul {
	text-align: left;
	padding-left: 13px !important;
}

ul li {
	list-style: none;
	display: inline;
	text-align: left;
}

ul li:after {
	color: #ab987a !important;
	content: " //" !important;
}

ul li:last-child:after {
	content: "" !important;
}

div.item {
	margin-left: 30% !important;
	text-align: left !important;
	padding-left: 0px;
	display: table;
	position: absolute;
	left: 0px;
	top: 30%;
}

div.category {
	margin-right: 70% !important;
	text-align: right !important;
	color: #a72e2e;
	float: right;
	display: table;
	position: absolute;
	right: 0px;
	top: 30%;
}

div.chall {
	margin-right: 70% !important;
	text-align: right;
	color: #a72e2e;
	float: right;
	display: table;
	position: absolute;
	right: 0px;
	top: 30%;
}

ul#chall {
	text-align: right !important;
}

ul li#category {
	float: right !important;
}

ul li#category:after {
	content: "" !important;
}